body {
    font-family: Arial, sans-serif;
}

form{
    padding: 20px;
    background-image: url('https://cdn.prod.website-files.com/6768f29a6d5da42209173f20/6768f29b6d5da422091775b5_Rectangle%20(98).svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px 10px 20px 60px;
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-color: cadetblue;
    font-size: 16px;
}